* {
    box-sizing: border-box;
}

:root {
    --color1:       rgb(128, 39, 117);
    --color2:       rgb(220, 7, 30);
    --color1-semi:  rgb(197, 58, 183);
    --color2-semi:  rgb(243, 34, 62);
    --color3:       rgb(249, 220, 85);
    --color4:       rgb(42, 201, 105);
}

html, body {
    background-color: #000000;
    color: #ffffff;
    padding: 0;
    margin: 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.page-wrapper {
    max-width: 1920px;
    min-width: 80%;
    height: 1800px;
    margin: 0 auto;
}

section {
    max-width: 1200px;
    margin: 0 auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-top {
    height: 0px;
    width: 0px;
    display: none;
    background-color: rgba(255,255,255,0.9);
    color: #111;
    font-size: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: all 0.1s cubic-bezier(0.58, 2.13, 0.58, 1), transform 0.1s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.back-to-top.visible {
    height: 50px;
    width: 50px;
    opacity: 1;
}
.back-to-top.visible:hover {
    background-color: rgba(255,255,255,1);
    font-size: 44px;
    cursor: pointer;
}

.back-to-top.visible:active {
    transform: scale(0.98);
} 